<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>


<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Scheduler</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="#">Schedule</a>
            </li>
            <li>
                <a href="#">Professors</a>
            </li>
            <li>
                <a href="#">Program</a>
            </li>
            <li>
                <a href="#">Classes</a>
            </li>
            <li>
                <a href="#">Courses</a>
            </li>
        </ul>
    </nav>

    <div id="content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul th:if="${isAdmin}" class="nav navbar-nav navbar-right">
                        <l2><a th:href="@{professorForm}">Add</a></l2>
                    </ul>
                </div>
            </div>
        </nav>

        <h2 class=".content">Professors</h2>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">name</th>
                <th scope="col">position</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="professor: ${professors}">
                <td><a th:href="@{{id}(id=${professor.id})}"><span th:text="${professor.name}"></span></a></td>
                <td th:text="${professor.position}"/>
            </tr>
            </tbody>
        </table>


    </div>
</div>


<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
</script>
</body>
</html>
