<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body onload='move();'>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Spring Scheduler</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/scheduleRecords/all">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/courses/all">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/professors/all">Professors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/v1/classes/all">Classes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/api/v1/programs/all">Programs<span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="d-flex justify-content-between pt-2 pb-2">
        <div th:if="${isAdmin}" class="text-center">
            <button class="btn btn-info" data-toggle="modal" data-target="#addModal"> Add
            </button>
        </div>
    </div>
    <div class="row">
        <table class="table text-center">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Faculty</th>
                <th th:if="${isAdmin}" scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="program: ${programs}">
                <td th:text="${program.name}"></td>
                <td th:text="${program.faculty}"></td>
                <td th:if="${isAdmin}">
                    <form th:method="DELETE" th:action="@{{id}(id=${program.id})}">
                        <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Modal title</h5>
                <a href="/api/v1/programs/all" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <form th:method="POST" action="/api/v1/programs" th:object="${program}">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input th:field="*{name}" th:value="*{name}" name="name" type="text" class="form-control"
                               id="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="faculty">Faculty</label>
                        <select th:field="*{faculty}" th:value="*{faculty}" name="faculty" class="form-control"
                                id="faculty">
                            <option th:each="fac : ${T(com.scheduler.model.Faculty).values()}"
                                    th:value="${fac.getDescription()}"
                                    th:text="${fac.getDescription()}">
                            </option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="/api/v1/programs/all" class="btn btn-secondary">Close</a>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script th:if="${program.faculty != null}">
    function move() {
        $('#addModal').modal('show');
    }
</script>

<script th:if="${program.faculty == null}">
    function move() {
    }
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>